/*MEDIA QUERY*/


/* TAMAÑO CELULAR*/

/* TAMAÑO HASTA IPHONE PLUS 678 */

@media only screen and (max-width: 414px) and (min-width: 320px) {

    .container_preguntas {
        display: none;
    }

    header {
        .caja1 {
            display: grid;
            height: auto;
            width: 54%;
            padding-right: 15%;


            .loGo {
                display: grid;
                margin: none;
                font-size: 1.4rem;
                color: white;
            }


            .loGo2 {
                display: grid;
                color: white;
                font-size: .5rem;
                text-decoration: overline;
            }
        }
    }

    .carousel-inner {
        width: 100%;
        margin: auto;
    }



    .menuServicios {
        .serVicios {
            grid-template-columns: 1fr;
        }
    }


    .googleMaps {
        #ubicacion {
            width: 100%;
            height: 30vh;
        }
    }

    .googleMaps .doNde {
        width: 100%;
        font-size: .8rem;
    }



    footer {
        display: grid;
        width: 100%;
        background: linear-gradient(#000000, #434343);
        grid-template-columns: 1fr;
        justify-items: center;

        .loGos {
            justify-content: center;

            .logoface {
                width: 57px;
                height: auto;
                left: .8rem;
                position: relative;
                top: 0.34rem;
            }

            .logoig {
                width: 37px;
            }

            .logoli {
                width: 36px;
            }

            .logowhat {
                width: 31px;
            }
        }

        .direCcion {
            margin: auto;
            height: 100%;
            font-size: .5rem;
            line-height: .1rem;

            .Dire {
                padding-top: 2%;
                font-size: .6rem;
                color: white;
                text-align: center;
            }
        }

        .listaFooter {
            display: none;
        }
    }

    /*TELEMANDOS.HTML*/

    .col-sm-6 {
        width: 40%;
        height: auto;
    }

    .img-fluid {
        width: auto;
        height: auto;
    }


    /*INDEX.HTML*/
    .cartaNegra {
        width: 100%;


        .cartaNegra__sectorIzquierdo {

            p {
                display: flex;
                font-size: .9rem;
                margin-bottom: 3%;
                line-height: 1rem;
            }

            h1 {
                font-size: 1rem;
                margin-top: .5rem;
            }

            .cartaNegra__sectorIzquierdo__aÑo {
                font-size: 4.3rem;
                line-height: 3.9rem;
            }
        }

        .cartaNegra__sectorDerecho {

            font-size: .65rem;
            margin-bottom: 0%;
            margin-top: 1%;
            line-height: normal;

            p {
                font-size: .6rem;
                margin: .3rem 0;

            }

            .casaLisi {
                color: #c9940e;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: bold;
                font-size: .6rem;
                justify-items: center;
            }

            .cartaNegra__sectorDerecho__titulo {

                font-size: .9rem;
                padding-bottom: .1rem;
                padding-top: .3rem;
                margin-bottom: 0;
                margin-top: 0;
                line-height: .5rem;
            }

        }
    }




/*LISTA PRECIOS*/

.listaPrecios {
    font-size: 1rem;
    margin-top: 5%;
}

.tablita {
    display: flex;
    justify-content: center;

    table {
        font-size: .5rem;
        width: 70%;
        border-collapse: separate;
        border-spacing: .3rem;
        text-align: center;
        margin-bottom: 15%;
        margin-top: 3%;

        .tiTulo {
            padding: 0.3rem;

            th {
                padding: 0.4rem;
            }
        }
    }
}






/* CONTACTO.HTML responsive*/

.conTacto {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    line-height: 2rem;
    color: white;


    .conTacto__tiTulo {
        margin: auto;
        padding-bottom: 1%;
        font-size: 1.5rem;
    }

    .formUlario {
        width: 90%;

        fieldset {
            .formUlario__inFoContacto {
                input {
                    width: 50%;
                }

                .texTarea {
                    width: 90%;
                }

                .form-select {
                    width: 50%;
                }

                .archivo {
                    margin: auto;
                    margin-bottom: 5%;
                    width: 90%;
                }

                .btn-outline-warning {
                    margin-bottom: .5rem;
                    padding: 0.5em 1rem;

                }
            }
        }
    }
}





/*PRODUCTOS HTML */
.proDuctos {
    display: flex;
    flex-direction: none;
    width: 90%;
    margin-top: 18%;
    margin-bottom: 33%;
    border: solid .8px white;


.proDuctos__tiTulo {
    margin-top: 5%;
    text-decoration: underline;
    color: white;
    h2{
        font-size: 1.2rem;
    }
}
.proDuctos__galeRia {
    margin: 5%;
    list-style-type: none;
    line-height: none;

li {
    display: flex;
    margin-left: 8%;
    padding-left: 15%;}

a {
    font-size: 1.1rem;
    color: white;
}}}



/*NOSOTROS HTML*/


    .NosoTros {
        width: 90%;
        margin-top: 5%;

        .NosoTros__hisToria{
            & h3 {
            font-size: .7rem;
            letter-spacing: 0.1rem;
            line-height: 1rem;

            .NosoTros__Distincion {
                color: goldenrod;
                font-size: 1rem;}
            

            .NosoTros__Distincion2 {
                font-size: .7rem;
                color: rgb(126, 182, 157);
                margin: 3% 0;
            
            }}}}




/*LLAVES CODIFICADAS*/
.secTion__coPias {
    .tiTulo__coPias__imaGen {
        width: 95%;
    }

    .secTion__copPias__tiTulo {
        .secTion__copPias__tiTulo--teXto {
            font-size: .9rem;
            padding-top: 2%;

        }
    }
}





/*CARCASAS*/
.secTion__carCasas{
     .tiTulo__carCasas__imaGen {
    width: 95%;
}

.secTion__carCasas__tiTulo{
     .secTion__carCasas__tiTulo--blAnco {
    font-size: .8rem;
    padding: 2% 0;
}}}

/*CONTROLES REMOTO*/


.secTion__reMotos {
    .tiTulo__reMotos__imaGen {
        width: 90%;
    }

    .secTion__reMotos__tiTulo {
        .secTion__reMotos__tiTulo--blAnco {
            font-size: .9rem;
            padding: 1% 0;
            font-size: .8rem;
        }
    }
}



/*ADAPTACION NAVAJA.HTML */
.secTion__adapTaciones .secTion__adapTaciones__imaGen {
    width: 90%;
}

.secTion__adapTaciones .secTion__adapTaciones__tiTulo .secTion__adapTaciones__tiTulo--teXto {
    padding-top: 1%;
    font-size: 1rem;
    padding-bottom: 1rem;
}

/*PERDIO SUS LLAVES.HTML*/

.secTion__ceroLlaves {
    .tiTulo_ceroLlave__imaGen {
        width: 90%;
        margin-bottom: 8%;
    }

    .secTion__ceroLlave__tiTulo {
        .secTion__ceroLlave__tiTulo--teXto {
            padding-top: 5%;
            font-size: 1rem;
            padding-bottom: 2%;
        }
    }
}



/*LEVANTAVIDRIOS.HTML*/

.secTion__levantAvidrios {
    .tiTulo__levantAvidrios__imaGen {
        width: 90%;
        margin-bottom: 8%;
    }

    .secTion__levantAvidrios__tiTulo {
        .secTion__levantAvidrios__tiTulo--teXto {
            padding-bottom: 1%;
            padding-top: 2%;
            font-size: .8rem;
        }
    }
}



/*TAMBOR.HTML*/
.secTion__taMbor {
    .tiTulo__taMbor__imaGen {
        width: 90%;
        margin-bottom: 8%;
    }

    .secTion__taMbor__tiTulo {
        .secTion__taMbor__tiTulo--teXto {
            font-size: 1rem;
            padding-bottom: 2%;
            padding-top: 5%;
        }

    }
}

}




/*-----------------------------------*/

/* TAMAÑO CELULAR*/
@media only screen and (max-width:768px) and (min-width: 414px) {

    /*INDEX HTML*/


    .container_preguntas {
        display: none;
    }

    header {
        .caja1 {
            display: grid;
            height: auto;
            width: auto;
            align-items: center;

            .loGo {
                display: grid;
                margin: auto;
                font-size: 1.5rem;
                color: white;
            }


            .loGo2 {
                display: grid;
                color: white;
                font-size: .6rem;
                text-decoration: overline
            }
        }
    }

    .carousel-inner {
        width: 100%;
        margin: auto;
    }


    .menuServicios {
        .serVicios {
            grid-template-columns: 1fr;
        }
    }


    .googleMaps {
        #ubicacion {
            width: 100%;
            height: 30vh;
        }

        .doNde {
            width: 100%;
            font-size: .8rem;
        }
    }

    .cartaNegra {
        width: 100%;

        .cartaNegra__sectorIzquierdo {

            & p {
                display: flex;
                font-size: .9rem;
                margin-bottom: 3%;
                line-height: 1rem;
            }

            & h1 {
                font-size: 1rem;
                margin-top: .5rem;
            }

            .cartaNegra__sectorIzquierdo__aÑo {
                font-size: 4.3rem;
                line-height: 3.9rem;

            }
        }

        .cartaNegra__sectorDerecho {

            & p {
                font-size: .7rem;
                margin-bottom: .3rem;
                line-height: normal;

                .casaLisi {
                    color: rgb(201, 148, 14);
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: bold;
                    font-size: .75rem;
                    justify-items: center;
                }
            }

            .cartaNegra__sectorDerecho__titulo {
                font-size: .9rem;
                padding-bottom: .1em;
                padding-top: .2em;
                margin-bottom: 0;
                margin-top: 0;
                line-height: 1rem;


            }
        }
    }

    /*FOOTER*/
    footer {
        display: grid;
        width: 100%;
        background: linear-gradient(#000000, #434343);
        grid-template-columns: 1fr;
        justify-items: center;

        .loGos {
            justify-content: center;

            .logoface {
                width: 57px;
                height: auto;
                left: .8rem;
                position: relative;
                top: 0.34rem;
            }

            .logoig {
                width: 37px;
            }

            .logoli {
                width: 36px;
            }

            .logowhat {
                width: 31px;
            }
        }

        .direCcion {
            margin: auto;
            height: 100%;
            font-size: .5rem;
            line-height: .1rem;

            .Dire {
                padding-top: 2%;
                font-size: .6rem;
                color: white;
                text-align: center;
            }
        }

        .listaFooter {
            display: none;
        }
    }



    /*TELEMANDOS.HTML*/

    .col-sm-6 {
        width: 40%;
        height: auto;
    }

    .img-fluid {
        width: auto;
        height: auto;
    }







    /*LISTA PRECIOS*/

    .listaPrecios {
        font-size: 1rem;
        margin-top: 5%;
    }

    .tablita {
        display: flex;
        justify-content: center;

        table {
            font-size: .5rem;
            width: 70%;
            border-collapse: separate;
            border-spacing: .3rem;
            text-align: center;
            margin-bottom: 15%;
            margin-top: 3%;

            .tiTulo {
                padding: 0.3rem;


                th {
                    padding: 0.4rem;
                }
            }
        }
    }



    /* CONTACTO.HTML responsive*/
    .conTacto {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        line-height: 2rem;
        color: white;


        .conTacto__tiTulo {
            margin: auto;
            padding-bottom: 1%;
            font-size: 1.5rem;
        }

        .formUlario {
            width: 90%;

            fieldset {
                .formUlario__inFoContacto {
                    input {
                        width: 50%;
                    }

                    .texTarea {
                        width: 90%;
                    }

                    .form-select {
                        width: 50%;
                    }

                    .archivo {
                        margin: auto;
                        margin-bottom: 5%;
                        width: 90%;
                    }

                    .btn-outline-warning {
                        margin-bottom: .5rem;
                        padding: 0.5em 1rem;

                    }
                }
            }
        }
    }

    /*PRODUCTOS HTML */

    .proDuctos {
        display: flex;
        flex-direction: none;
        width: 90%;
        margin-top: 18%;
        margin-bottom: 33%;
        border: solid .8px white;

        .proDuctos__tiTulo {
            margin-top: 5%;
            text-decoration: underline;
            color: white;

            h2 {
                font-size: 1.2rem;
            }
        }

        .proDuctos__galeRia {
            margin: 5%;
            list-style-type: none;
            line-height: none;

            li {
                display: flex;
                margin-left: 8%;
                padding-left: 15%;

                a {
                    font-size: 1.1rem;
                    color: white;
                }
            }
        }
    }


    /*NOSOTROS HTML*/

    .NosoTros {
        width: 90%;
        margin-top: 5%;

        .NosoTros__hisToria h3 {
            font-size: .7rem;
            letter-spacing: 0.1rem;
            line-height: 1rem;

            .NosoTros__Distincion {
                color: goldenrod;
                font-size: .9rem;
            }

            .NosoTros__Distincion2 {
                font-size: .7rem;
                color: rgb(126, 182, 157);
                margin: 3% 0;
            }

        }
    }

    /*LLAVES CODIFICADAS*/
    .secTion__coPias {
        .tiTulo__coPias__imaGen {
            width: 95%;
        }

        .secTion__copPias__tiTulo {
            .secTion__copPias__tiTulo--teXto {
                font-size: .9rem;
                padding-top: 2%;

            }
        }
    }

    /*CARCASAS*/
    .secTion__carCasas {
        .tiTulo__carCasas__imaGen {
            width: 95%;
        }

        .secTion__carCasas__tiTulo {
            .secTion__carCasas__tiTulo--blAnco {
                font-size: .8rem;
                padding: 2% 0;
            }
        }
    }

    /*CONTROLES REMOTO*/
    .secTion__reMotos {
        .tiTulo__reMotos__imaGen {
            width: 90%;
            padding-bottom: 2%;
        }

        .secTion__reMotos__tiTulo {

            .secTion__reMotos__tiTulo--blAnco {

                font-size: .9rem;
                padding-bottom: 1% 0;
            }
        }
    }


    /*ADAPTACION NAVAJA.HTML */

    .secTion__adapTaciones {
        .secTion__adapTaciones__imaGen {
            width: 90%;
        }

        .secTion__adapTaciones__tiTulo {
            .secTion__adapTaciones__tiTulo--teXto {
                padding-top: 1%;
                font-size: 1rem;
                padding-bottom: 1rem;
            }
        }
    }

    /*PERDIO SUS LLAVES.HTML*/

    .secTion__ceroLlaves {
        .tiTulo_ceroLlave__imaGen {
            width: 90%;
            margin-bottom: 8%;

        }

        .secTion__ceroLlave__tiTulo {
            .secTion__ceroLlave__tiTulo--teXto {

                padding-top: 5%;
                font-size: 1rem;
                padding-bottom: 2%;

            }
        }
    }


    /*LEVANTAVIDRIOS.HTML*/

    .secTion__levantAvidrios {
        .tiTulo__levantAvidrios__imaGen {
            width: 90%;
            margin-bottom: 8%;
        }

        .secTion__levantAvidrios__tiTulo {
            .secTion__levantAvidrios__tiTulo--teXto {
                padding-top: 2%;
                font-size: .9rem;
            }
        }
    }


    /*TAMBOR.HTML*/
    .secTion__taMbor {

        .tiTulo__taMbor__imaGen {
            width: 90%;
            margin-bottom: 8%;
        }

        .secTion__taMbor__tiTulo {
            .secTion__taMbor__tiTulo--teXto {

                font-size: .8rem;
                padding-bottom: 2%;
                padding-top: 2%;

            }

        }
    }
}




/*---------------------------------------------------------------*/



/*TAMAÑO TABLET*/

@media only screen and (max-width:1024px) and (min-width: 721px) {

    /*INDEX.HTML*/


    .container_preguntas {
        display: none;
    }

    .header {
        .caja1 {
            display: grid;
            width: 30%;


            .loGo {
                display: grid;
                margin: auto;
                font-size: 2rem;
                color: white;
            }


            .loGo2 {
                display: grid;
                color: white;
                font-size: .7rem;
                text-decoration: overline;
                line-height: .5rem;
            }
        }
    }

    .carousel-inner {
        width: 80%;
        margin: auto;
    }

    .carousel-item {
        width: 100%;
    }


    .cartaNegra {
        width: 80%;

        .cartaNegra__sectorIzquierdo {
            .cartaNegra__sectorIzquierdo__aÑo {
                font-size: 5rem;
            }
        }
    }



    .googleMaps {
        #ubicacion {
            width: 80%;
            height: 30vh;
        }

        .doNde {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 80%;
        }
    }


    footer {
        display: grid;
        background: linear-gradient(to top, #000000, #434343);
        color: white;
        grid-template-columns: 35% 65%;
        grid-template-rows: 12vh;


        .loGos {
            display: flex;
            margin: auto;
            padding-right: 1.5rem;
        }

        .direCcion {
            justify-items: right;
            background: none;
            padding-bottom: .8rem;


            .Dire {
                font-size: .9rem;
            }
        }

        .listaFooter {
            display: none;
        }
    }



    /*LISTA PRECIOS*/
    .listaPrecios {
        font-size: 1rem;
        margin-top: 2%;
    }

    .tablita {
        display: flex;
        justify-content: center;

        table {
            font-size: .5rem;
            width: 70%;
            border-collapse: separate;
            border-spacing: .5rem;
            text-align: center;
            margin-bottom: 8%;
            margin-top: 2%;

            .tiTulo {
                padding: 0.5rem;

                th {
                    padding: 0.6rem;
                }
            }
        }
    }

    /* CONTACTO.HTML*/
    .conTacto {
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        margin-top: 2%;
        line-height: 2rem;
        color: white;

        .conTacto__tiTulo {
            margin: auto;
            padding-bottom: 1%;
            font-size: 1.5rem;
        }

        .formUlario {
            width: 65%;

            fieldset {
                border-radius: 2rem;

                .formUlario__inFoContacto {
                    margin: auto;
                    padding: 5% 0;

                    input {
                        width: 60%;
                    }

                    .texTarea {
                        width: 75%;

                    }

                    .form-select {
                        width: 50%;

                    }

                    .archivo {
                        width: 100%;
                        margin-bottom: 5%;
                    }

                    .btn-outline-warning {
                        margin-bottom: 1rem;
                        padding: 0.5em 1.5rem;
                    }
                }
            }
        }
    }

    /*SERVICIOS RESPONSIVE TABLETA*/

    .menuServicios {
        display: grid;
        height: 100%;
        justify-content: center;

        .serVicios {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr 1fr;

            .abajo {
                display: grid;
            }
        }
    }

    /*PRODUCTOS HTML */

    .proDuctos {
        display: flex;
        flex-direction: column;
        width: 65%;
    }

    .proDuctos__galeRia {
        margin: 5%;
        list-style-type: none;
        line-height: 3.5rem;

        li {
            display: flex;
            margin-left: 15%;
            padding-left: 15%;
        }
    }

    /*NOSOTROS HTML*/

    .NosoTros {
        width: 80%;
        margin-top: 5%;
    

    .NosoTros__hisToria h3 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        line-height: 1.2rem;
        .NosoTros__Distincion{
            font-family:monospace;
            font-weight: 700;
            font-size: 1.2rem;
                            line-height: 2rem;
            margin-bottom: 1%;
            color: rgb(219, 167, 36);}
            .NosoTros__Distincion2{
                font-size: 1rem;
                color:rgb(126, 182, 157);
                margin: 3% 0;
              
            }
    }}


    /*LLAVES CODIFICADAS*/
    .secTion__coPias {
        .tiTulo__coPias__imaGen {
            width: 85%;
        }

        .secTion__copPias__tiTulo {
            .secTion__copPias__tiTulo--teXto {
                font-size: 1.2rem;
            }
        }
    }


    /*CARCASAS*/

    .secTion__carCasas {
        .tiTulo__carCasas__imaGen {
            width: 85%;
            margin-top: 2%;
            margin-bottom: 2%;
        }

        .secTion__carCasas__tiTulo--blAnco {
            margin-top: 1%;
            font-size: 1.2rem;
        }
    }

    /*CONTROLES REMOTO*/

    .secTion__reMotos {
        .tiTulo__reMotos__imaGen {
            width: 85%;
            margin-bottom: 2%;

        }

        .secTion__reMotos__tiTulo {
            .secTion__reMotos__tiTulo--blAnco {
                margin: 1% 0;
                font-size: 1.2rem;

            }
        }
    }



    /*ADAPTACION NAVAJA.HTML */

    .secTion__adapTaciones {
        .secTion__adapTaciones__imaGen {
            width: 85%;
        }

        .secTion__adapTaciones__tiTulo {
            .secTion__adapTaciones__tiTulo--teXto {
                padding-top: 1%;
                font-size: 1.2rem;
            }
        }
    }


    /*PERDIO SUS LLAVES.HTML*/

    .secTion__ceroLlaves {
        .tiTulo_ceroLlave__imaGen {
            width: 85%;
            margin-bottom: 5%;

        }

        .secTion__ceroLlave__tiTulo {
            .secTion__ceroLlave__tiTulo--teXto {

                padding-top: 2%;
                padding-bottom: 2%;
                font-size: 1.1rem;
            }
        }
    }


    /*LEVANTAVIDRIOS.HTML*/
    .secTion__levantAvidrios {
        .tiTulo__levantAvidrios__imaGen {
            width: 85%;
            margin-bottom: 5%;
        }

        .secTion__levantAvidrios__tiTulo {
            .secTion__levantAvidrios__tiTulo--teXto {
                padding-bottom: 1%;
                padding-top: 1.5%;
                font-size: 1.1rem;
            }
        }
    }



    /*TAMBOR.HTML*/
    .secTion__taMbor {
        .tiTulo__taMbor__imaGen {
            width: 85%;
            margin-bottom: 5%;
        }

        .secTion__taMbor__tiTulo {

            .secTion__taMbor__tiTulo--teXto {

                font-size: 1.1rem;
                padding-bottom: 2%;
                padding-top: 2%;

            }
        }
    }
}




/*-----------------------------------*/
/*TAMAÑO TABLET GRANDE*/

@media only screen and (max-width:1024px) and (min-width: 721px) {

    /*INDEX.HTML*/


    .naveGador {
        width: 0%;
    }

    header {
        .caja1 {
            width: 22%;
            margin-right: 0%;

            .loGo {
                font-size: 2rem;
            }

            .loGo2 {

                font-size: .8rem;

            }
        }
    }



    .cartaNegra {
        width: 80%;

        .cartaNegra__sectorIzquierdo {
            .cartaNegra__sectorIzquierdo__aÑo {
                font-size: 7rem;
            }
        }
    }


    .NosoTros {
        width: 80%;
        margin-top: 5%;

        .NosoTros__hisToria{
            & h3 {
            font-size: .9rem;
            letter-spacing: 0.1rem;
            line-height: 1rem;

            .NosoTros__Distincion {
                color: goldenrod;
                font-size: 1.2rem;}
            

            .NosoTros__Distincion2 {
                font-size: 1rem;
                color: rgb(126, 182, 157);
                margin: 3% 0;
            
            }}}}

}