/*NOSOTROS.HTML*/

.NosoTros {
    width: 45%;
    height: auto;
    display: grid;
    margin: auto;
    margin-bottom: 5%;
    border: solid 1px rgba(245, 245, 245, 0.719);
    border-radius: 1rem;
    row-gap: 2px;
    column-gap: 2px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        " foto1 foto1 foto1"
        " video video video "
        " foto2 foto3 foto4 "
        "historia historia historia";

    .NosoTros__foTo1 {
        grid-area: foto1;
        border-radius: 1rem;
    }

    .NosoTros__foTo2 {
        width: 100%;
        height: 100%;
        grid-area: foto2;
    }

    .NosoTros__foTo3 {
        grid-area: foto3;
    }

    .NosoTros__foTo4 {
        grid-area: foto4;
    }

    .NosoTros__viDeo {
        grid-area: video;
        width: 100%;
        height: 45vh;
    }

    .NosoTros__hisToria {
        display: grid;
        grid-area: historia;
       
        background: linear-gradient(#0303032c, black, #0707072a);
        border-radius: 1rem;
        padding: 2%;

        & h3 {
            display: grid;
            font-size: 1.3rem;
            font-family:$fuente;
            color: rgb(255, 255, 255);
            
            line-height: 1.6rem;
            .NosoTros__Distincion{
                font-family:monospace;
                font-weight: 700;
                font-size: 1.8rem;
                                line-height: 2rem;
                margin-bottom: 1%;
                color: rgb(219, 167, 36);}
                .NosoTros__Distincion2{
                    font-size: 1.3rem;
                    color:rgb(126, 182, 157);
                    margin: 3% 0;
                  
                }
            }
        }

    }

