
.container__preguntas__frecuentes{
    margin: auto ;
    
    width: 65%;

    .container__preguntas__frecuentes__div{
  
 .tarjetas__preguntas{  
     margin: 4% auto;
      
   
 .card-body{
 &P{
     font-size: 1.2rem;
 }}}}}